<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.Compression" version="15.1.0.41" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.OfficeChart" version="15.1.0.41" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.Presentation" version="15.1.0.41" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.DocIO" version="15.1.0.41" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.Pdf" version="15.1.0.41" targetFramework="portable45-net45+win8+wp8+wpa81" />  
  <package id="Syncfusion.Xamarin.SfPdfViewer" version="15.1.0.41" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.180" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.DataSource" version="15.1.0.41" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.SfAutoComplete" version="15.1.0.41" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.SfDataGrid" version="15.1.0.41" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Syncfusion.Xamarin.XlsIO" version="15.1.0.41" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>