<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" >
    </compilation>
    <httpRuntime targetFramework="4.5.1" requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" maxUrlLength="10999" maxQueryStringLength="2097151" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647"
			  maxBufferSize="2147483647"
			  maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32"
				  maxArrayLength="2147483647"
				  maxStringContentLength="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="" >
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
</configuration>
